<?xml version='1.0' encoding='UTF-8'?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
    <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:xe</property>
    <property name="hibernate.connection.username">system</property>
    <property name="hibernate.connection.password">tiger12345</property>

    <property name="show_sql">true</property>
    <mapping class="BusinessLogic.Customer" />
    <mapping class="BusinessLogic.Flight" />
    <mapping class="BusinessLogic.OneWayFlight" />
    <mapping class="BusinessLogic.TwoWayFlight" />
    <mapping class="BusinessLogic.Reservation" />
    <mapping class="BusinessLogic.Payments" />
    <mapping class="BusinessLogic.Tickets" />
    <mapping class="BusinessLogic.Seats" />

  </session-factory>
</hibernate-configuration>



